<h2>Produto</h2>
<ul>
  <li>Nome: <%= @product.name %></li>
  <li>Preço: <%= @product.price %></li>
</ul>
<%= pagseguro_form @order, :submit => "Efetuar pagamento!" %>
<p>
  <%= link_to 'Voltar a lista de produtos', products_path  %>
</p>
